

body {
  background: #ffffff;
  font-family: "Futura", Futura, serif;
  color: #333;
}
.jumbotron{
  border-radius: 0px;
  margin-bottom: 0;
}
.disabled:hover{
  background-color: #657078;
  color: white;
  border-radius: 0px;
}
.marketing{
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
}
.btn:hover{
  background-color: #6c757d;
}
.service{
  padding: 10px;
  line-height: 2em;
  border: 0.3px solid #f3f3f3;
  background: rgba(255, 255, 255, 0.7);
}

.offer {
  text-align: center;
  margin: 40px auto;
  text-shadow:
    0 1px 1px rgba(0, 0, 0, 0.4),
    0 1px 1px rgba(0, 0, 0, 0.1),
    0 1px 1px rgba(0, 0, 0, 0.1);

}
.service-name{
  text-align: center;
  font-size: 6em;
}
.service-name:hover{
  color: #0b97c4;
}
.disabled:hover{
  background-color: #0b97c4;
}
.names {
  font-size: 3.5em;
  text-transform: capitalize;
  background: none;
  border: none;
  color: #657078;
}
.names:hover{
  color:#0b97c4;
}
#landing-image {
  height: 850px;
  color: white;
  background-position: center;
  background-image: url("https://images.unsplash.com/photo-1413882353314-73389f63b6fd?ixlib=rb-0.3.5&s=753f2c8f0b9faf6142e884a7aa14085a&auto=format&fit=crop&w=1050&q=80");
  -webkit-background-size: cover;
  background-size: cover;
  font-family: Futura, serif;
}
.welcome-text{
  margin-top: 400px;
  text-shadow:
    0 2px 2px rgba(0, 0, 0, 0.4),
    0 2px 2px rgba(0, 0, 0, 0.1),
    0 2px 2px rgba(0, 0, 0, 0.1);
}

.btn-success{
  border-radius: 0px;
  border: none;
  background-color: #0b97c4;
}
img{
  height: 300px;
  width: 300px;
  filter: grayscale(60%);

}
img:hover{
  filter: grayscale(0%);
  transition:         transform 1s ease-in;
}
.text-muted {
  font-size: 3em;
  text-transform: capitalize;
  background: none;
  border: none;
}
#down-text-muted{
  font-family: "Chaparral Pro", serif;
}


.btn-lg{
  width: 300px;
  height: auto;
}

.navbar{
  padding-top: 50px;
  padding-bottom: 30px;
}
.header{
  position: relative;
  background: rgba(255, 255, 255, 0.9);
  color: white;
  width: 100%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);

}
.footer{
  background-color: #0b97c4;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.done-jobs{
  height: 900px;
}
.contact{
  height: 900px;
}

hr{
  border-top: 2px solid #0b97c4;
}


/*!* Responsive: Portrait tablets and up *!*/
/*@media screen and (min-width: 48em) {*/
/*!* Remove the padding we set earlier *!*/
/*.header,*/
/*.marketing,*/
/*.footer {*/
/*padding-right: 0;*/
/*padding-left: 0;*/
/*}*/
/*}*/
body{
  background-size: cover;
  background-color:white;
}

